/* fond du titre blanc opacité */
/* background image */
/* bouton correction */
/* margin padding*/

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-family-main: 'Quattrocento', sans-serif;
  --font-family-secondary: 'Maven Pro', sans-serif;
  --font-family-third: 'Sriracha', cursive;
  --color-main: #57bb6b;
  --color-secondary: #fff;
  --color-article: #c4f2ad;
}

html {
  scroll-behavior: smooth;
  background: var(--color-main);
}

body {
  background: var(--color-article);
  max-width: 380px;
  margin: auto;
}

header {
  background-image: url("../img/img-titre.webp");
  padding: 30px;
  margin-top: 8px;
}

.title-card {
  background: #ffffffdd;
  padding: 35px 55px;
  margin: 0 0 35px;
}

.title-card p {
  color: var(--color-main);
  text-align: center;
  font-family: var(--color-main);
  font-size: 20px;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  display: block;
  margin: 0 auto 12px;
  padding: 12px;
  background: var(--color-main);
  color: var(--color-secondary);
  font-family: var(--font-family-secondary);
  text-decoration: none;
  box-shadow: 0 0 20px #00000025;
  font-size: 20px;
  border-radius: 15px;
}

.button:hover,
.button-light,
.button:active {
  background: var(--color-secondary);
  color: var(--color-main);
  transition: 0.3s;
}

.button-light:hover {
  background: var(--color-article);
  color: var(--color-main);
  font-family: var(--font-family-main);
}

main {
  align-items: center;
  text-align: center;
}

main h2 {
  color: white;
  font-family: var(--font-family-secondary);
  text-align: center;
}

main h3 {
  font-family: var(--font-family-secondary);
}

main h4 {
  font-family: var(--font-family-third);
  color: #000;
  font-size: 30px;
  margin: 70px 0 10px;
}

.card {
  background: var(--color-secondary);
  padding: 90px 55px;
}

.card p,
.card span {
  font-family: var(--font-family-main);
  margin: 0 0 30px;
}

.card span {
  font-weight: 700;
} 

.card h3 {
  font-size: 26px;
  font-family: var(--font-family-secondary);
  margin: 0 0 30px;
}

.product {
  background: var(--color-main);
}

.logo-fruit {
  display: flex;
  justify-content: space-between;
}

.logo-fruit img {
  width: 10%;
}

.article-box {
  background: var(--color-secondary);
  padding: 30px;
  margin: 40px 0;
  border-radius: 22px;
  box-shadow: 0 0 20px #0000006b;
  text-align: left;
}


.article-box h1 {
  font-family: var(--font-family-third);
  font-size: 30px;
}

.article-box p {
  font-family: var(--font-family-main);
  font-size: 16px;
  margin: 0 0 30px;
  color: #0000006b;
}

.article-text p {
  font-family: var(--font-family-main);
  font-size: 16px;
  margin: 0 0 30px;
  color: #0000006b;
}

.article-box a {
  font-family: var(--font-family-secondary);
  color: #000;
  font-weight: 700;
}

.article-box div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.article-box div img {
  max-width: 80px;
}

.product {
  padding: 35px 30px;
  text-align: left;
  color: white;
  font-family: var(--font-family-main);
}

.product h2 {
  font-size: 18px;
  margin: 40px 0 20px 40px;
  text-align: left;
  font-family: var(--font-family-main);
}

.product h1 {
  font-size: 26px;
  margin: 60px 0 55px 40px;
}

.product p {
  margin: 0 0 40px 40px;
}

.product ul {
  margin: 40px 0 0 45px;
}

.product img {
  max-width: 250px;
  margin: 0 40px 0 40px;
}

.banana {
  background-color: #fff8d7;
}

.kiwi {
  background-color: var(--color-article);
}

.coffe {
  background-color: #d3c6b2;
}

.strawberry {
  background-color: #f7a4b4;
}

footer {
  background-color: var(--color-secondary);
  color: var(--color-main);
  text-align: center;
  font-family: var(--font-family-secondary);
  padding: 35px 55px;
}

footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h2 {
  margin: 0 0 30px;
}

footer p {
  margin: 0 auto 35px;
  font-size: 12px;
}

footer .button:last-of-type {
  margin: 0 auto 60px;
}

.kiwi-cercle {
  background: var(--color-secondary);
  border-radius: 50%;
  box-shadow: 0 0 20px #0000006b;
  display: inline-table;
  margin: 60px;
}

.kiwi-cercle img{
  max-width: 100px;
  min-width: 100px;
  padding: 35px;
}

.other-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  max-width: 110px;
}

.strawberry-product img {
  max-width: 50px;
}

.strawberry-product {
  background-color:  #f7a4b4;

}

.coffee-product img {
  max-width: 50px;
}

.coffee-product {
  background-color:  #d3c6b2;
}
/* card kiwi tiny card ! */