/* fond du titre blanc opacité */
/* background image */
/* bouton correction */
/* margin padding*/

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-family-main: 'Quattrocento', sans-serif;
  --font-family-secondary: 'Maven Pro', sans-serif;
  --font-family-third: 'Sriracha', cursive;
  --color-main: #57bb6b;
  --color-secondary: #fff;
  --color-article: #c4f2ad;
}

html {
  scroll-behavior: smooth;
  background: var(--color-main);
}

body {
  background: var(--color-article);
  max-width: 380px;
  margin: auto;
}

header {
  background-image: url("../img/imgtitre.webp");
  padding: 30px;
  margin-top: 8px;
}

.title-card {
  background: #ffffffdd;
  padding: 35px 55px;
  margin: 0 0 35px;
}

.title-card p {
  color: var(--color-main);
  text-align: center;
  font-family: var(--color-main);
  font-size: 20px;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  display: block;
  margin: 0 auto 12px;
  padding: 12px;
  background: var(--color-main);
  color: var(--color-secondary);
  font-family: var(--font-family-secondary);
  text-decoration: none;
  box-shadow: 0 0 20px #00000025;
  font-size: 20px;
  border-radius: 15px;
}

.button:hover,
.button-light,
.button:active {
  background: var(--color-secondary);
  color: var(--color-main);
  transition: 0.3s;
}

.button-light:hover {
  background: var(--color-article);
  color: var(--color-main);
}

